<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:node="remove" />

    <application>
        <activity
            android:name=".AdbSetupActivity"
            tools:node="remove" />
        <service
            android:name=".PairingForegroundService"
            tools:node="remove" />
    </application>
</manifest>
